$home-bg-color: rgb(247, 247, 247);
$model-bg-color: rgba(0, 0, 0, 0.3);

body,html{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.home{
    background-color: $home-bg-color;
    &-box{
        width: 70%;
        height: 40%;
        position: relative;
        top: 20%;
        background-color: rgb(163, 163, 173);
        margin: 0 auto;
        // background: {
        //     image:url(../dist/images/hat.png);
        //     repeat:no-repeat;
        //     position:center,center;
        //     size:cover;
        // } 
    }

}

.model{
    background-color: $model-bg-color;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    &-box{
        width: 75%;
        height: 35%;
        position: relative;
        top:10%;
        background-color: whitesmoke;
        margin: 0 auto;
        border: 3px solid whitesmoke;
        border-radius: 20px
    }
}
